#slide-id {
	width: 45vw;
	height: 50vh;
	position: relative;
	margin-right: 10px;
	margin-bottom: 10px;
	cursor: default;
}

.slide-position {
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	box-shadow: 3px 3px 5px black,
	            inset 5px 5px 8px black;
	position: absolute;
	width: 100%;
	top: 91%;
}

.dot {
	display: inline-block;
  height: 15px;
  width: 15px;
  margin: 0 3px;
  background-color: #bbb;
  border-radius: 50%;
  transition: background-color 0.6s ease;
	color: black;
	font-size: 12px;
	text-align: center;
	padding: 1px 0;
}

.dot:hover:not(.active) {
	  background-color: #717171;
		cursor: pointer;
}

.active {
	  background-color: #717171;
}

@media only screen and (max-width: 800px) {
	#slide-id {
		width: 97vw;
		height: 40vh;
	}
}
