#app-id {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#mouse-sun, #mouse-moon {
  height: 20px;
  width: 21px;
  position: absolute;
  display: none;
  z-index: 99;
}

#cloud-id {
  position: absolute;
  top: 25vh;
  right: 10px;
}

@media only screen and (max-width: 800px) {
  #app-id {
    height: auto;
  }

  #cloud-id {
    display: none;
  }
}
